.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  height: 100vh;

  .reminder {
    color: var(--foreground-color);
    opacity: 0.7;
  }

  .button {
    position: relative;

    .timer {
      position: absolute;
      right: 1rem;

      opacity: 0;
      transition: opacity 0.3s ease;

      &.visible {
        opacity: 0.4;
      }
    }
  }

  .input {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, pointer-events 0.3s ease;

    &.visible {
      opacity: 1;
      pointer-events: all;
    }
  }
}
